.bkg-color {
	
	
	
	background-color: #ffffff; 
	background-color:#ff585d;
}

.img-cont {
	max-width: 80%;
	height: 40%;
}

.changeable-color {
	color: #ff585d;
	text-decoration-color: #ff585d;
}

.custom-cont {
	height: ;
}